<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>wamml.js - online test suite</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mocha/1.20.1/mocha.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/mocha/1.20.1/mocha.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chai/1.9.1/chai.js"></script>
    <script src="./AudioContextShim.js"></script>
    <script src="../build/wamml.min.js"></script>
    <script>
      mocha.setup("bdd");
      window.onload = function() {
        mocha.run();
      };
      window.expect = chai.expect;
    </script>
{{ testfiles }}
  </head>
  <body>
    <div id="mocha"></div>
  </body>
</html>
